<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pet1">Buddy the Dog</a></li>
                <li><a href="/pet2">Mittens the Cat</a></li>
                <li><a href="/pet3">Goldie the Fish</a></li>
                <li><a href="/pet4">Spike the Hedgehog</a></li>
            </ul>
        </nav>
    </header>
