<%- include('header') %>
    <main>
        <h1>Buddy the Dog</h1>
        <p>Favorite Activity: Fetching balls.</p>
        <img src="/images/buddy.jpg" alt="Buddy the Dog" style="width:100%;">
    </main>
</body>
</html>
